body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.recherche {
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.recherche input{
    width: 98%;
}

#filmsAjoutes{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
}

#suggestions{
    display: flex;
    flex-direction: column;
}

.carte-film img{ 
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.carte-film p{
    margin-left: 10px;
}
.carte-film{
    background-color: rgba(241, 241, 236, 0.864);
    width: 100%;   
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: start;
}

.tiers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.tier-container {
    width: 100%; 
    display: flex;
}

.tier {
    width: 150px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tier h2 {
    margin-top: 0;
    flex: 1; 
}

.drop-area {
    width: 100%; 
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .tier-container {
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between; 
    }

    .tier{
        flex: 0 0 110px; 
    }

    .drop-area {
        width: calc(100% - 110px); 
        border-left: none;
    }
}
